.trackSection{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

    .trackingPage{
        
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;

        h1{
            margin-top: 0px;
        }

        p{
            width: 60%;
            margin: 20px 0;
        }

        .inputType{

            width: 600px;
            margin-top: 50px;
            display: flex;
            height: 60px;

            input{
                width: 80%;
                padding: 0 20px;
                border-radius: 8px 0 0px 8px;
                border: 1px solid #eee;
                outline: none;

                &:focus{
                    outline : 1px solid #ff8400
                }
            }

            .trackBtn{

                width: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #ff8400;
                color: #fff;
                border-radius: 0 8px 8px 0;
                cursor: pointer;
                font-weight: 600;
                font-size: 14px;

            }

        }

        span{
            position: absolute;
            bottom: 50px;
            display: flex;
            align-items: center;

            .imgPin{
                width: 80px;
                height: 80px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 10px;

                img{
                    width: 100%;
                }
            }
        }

    }
    
}

@media (max-width : 768px) {


    .trackSection{

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    
        .trackingPage{
            
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
    
            h1{
                margin-top: 0px;
                font-size: 18px;
            }
    
            p{
                width: 60%;
                margin: 20px 0;
                font-size: 12px;
            }
    
            .inputType{
    
                width: calc(100% - 60px);
                margin-top: 50px;
                display: flex;
                height: 60px;
    
                input{
                    width: 80%;
                    padding: 0 20px;
                    border-radius: 8px 0 0px 8px;
                    border: 1px solid #eee;
                    outline: none;
    
                    &:focus{
                        outline : 1px solid #ff8400
                    }
                }
    
                .trackBtn{
    
                    width: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #ff8400;
                    color: #fff;
                    border-radius: 0 8px 8px 0;
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 14px;
    
                }
    
            }
    
            span{
                position: absolute;
                bottom: 50px;
                display: flex;
                align-items: center;
    
                .imgPin{
                    width: 80px;
                    height: 80px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 10px;
    
                    img{
                        width: 100%;
                    }
                }
            }
    
        }
        
    }


    
}