.header{

    cursor: pointer;
    
    position: fixed;
    width: 100%;
    z-index: 9999;

    .mainDesktop, .mainMobile{
        height: 50px;
        background-color: #fff;
        box-shadow: 0 3px 30px rgba($color: #000000, $alpha: .03);
        display: flex;
        align-items: center;
        padding: 50px 180px;
        justify-content: space-between;

        .logoArea{
            width: 150px;
            cursor: pointer;

            img{
                width: 100%;
                margin-top: 5px;
            }
        }

        .navigationSection{
            display: flex;
            column-gap: 50px;
            font-size: 13px;

            .active{
                font-weight: bold;
            }
        }

        .cartSection{
            width: 150px;
            height: 30px;
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .cartNumber{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                margin-left: 5px;
                font-size: 14px;

            }


        }

    }

    .mainMobile{
        display: none;
    }

}

@media (max-width : 1380px) {

    .header{

        .mainDesktop{
           
             padding: 20px 50px;
             height: 100px;

        }
    
    }

}

@media (max-width : 768px) {

    .header{

        .mobileMenuOverlay{
            height: 100vh;
            position: fixed;
            z-index: 9;
            background-color: #fff;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            .navigationSection{
                display: flex;
                flex-direction: column;
                gap: 80px;
                align-items: center;
                text-transform: uppercase;
            }

            .closeBtn{
                position: absolute;
                top: 0;
                left: 0;
                margin-left: 30px;
                margin-top: 30px;
                font-size: 24px;
                cursor: pointer;
            }
        }

        .mainMobile{
            display: flex;
            padding: 20px 30px;
            height: 100px;

            .navigationSection{
                display: none;
            }

            .logoArea{
                display: flex;
                width: 250px;
                align-items: center;

                .hamburger{
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    font-size: 21px;
                    margin-top: 6px;
                    cursor: pointer;
                }

                .logo_px{
                    width: 150px;
                    margin-left: 10px;
                }
            }
        }

        .mainDesktop{
            display: none;
        }
    
    }

}